body{
	background-color:#c11111
}
input{
		background-color:#c94040;
		border:1px solid #c11111;
		color:#f9cc18;
		font-family:'Courier';
}
.text{
		background-color:#c11111;
		border:1px solid #c11111;
		color:#f9cc18;
		font-family:'Courier'
}
